# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
fashion/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data outputs
data/cleaned/
data/processed/

# Streamlit cache
.streamlit/

# Logs
*.log

# Large installers
Miniconda3-latest-MacOSX-arm64.sh
data/raw/apify_raw.csv
Miniconda3-latest-MacOSX-arm64.sh
.env
__pycache__/
*.pyc
Miniconda3-latest-MacOSX-arm64.sh
Miniconda3-latest-MacOSX-arm64.sh
Miniconda3-latest-MacOSX-arm64.sh
